<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124769264797-k7tlldv75og42pdh25na43rh1s680pu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124769264797-k7tlldv75og42pdh25na43rh1s680pu1</string>
	<key>API_KEY</key>
	<string>AIzaSyB71zyES5kvPwYkWXIA9_k95Tn3pZQ1-GY</string>
	<key>GCM_SENDER_ID</key>
	<string>124769264797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workconnect</string>
	<key>PROJECT_ID</key>
	<string>workconnect-d265b</string>
	<key>STORAGE_BUCKET</key>
	<string>workconnect-d265b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124769264797:ios:f0d8831421ce80bc0ae074</string>
</dict>
</plist>